<h4 class="my-3">Filters</h4>
<ul class="nav flex-column nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active"
      >All</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category/1" routerLinkActive="active"
      >Books</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category/2" routerLinkActive="active"
      >Coffee Mugs</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category/3" routerLinkActive="active"
      >Mouse Pads</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category/4" routerLinkActive="active"
      >Loggage Tags</a
    >
  </li>
</ul>
