<header class="sticky-top">
  <nav class="navbar navbar-light bg-light">
    <a routerLink="/products" class="navbar-brand">
      <img
        src="/assets/images/nav/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="logo"
      />
      MyShop
    </a>
    <div class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        #Input
        placeholder="Search"
        aria-label="Search"
        (keyup.enter)="onSubmit(Input.value)"
      />
      <button
        class="btn btn-outline-primary my-2 my-sm-0"
        (click)="onSubmit(Input.value)"
      >
        Search
      </button>
    </div>
    <div class="d-flex align-items-center">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary ml-2"
        (click)="onLogin()"
        *ngIf="!isAuth"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-sm btn-outline-danger ml-2"
        (click)="onLogout()"
        *ngIf="isAuth"
      >
        Logout
      </button>
      <div class="border border-info rounded-circle" *ngIf="isAuth">
        <div class="p-2">{{ totalPrice | currency : "INR" }}</div>
      </div>
      <button
        type="button"
        class="btn btn-sm ml-1"
        (click)="onCartDetails()"
        *ngIf="isAuth"
      >
        <img
          src="/assets/images/nav/local_grocery_store.svg"
          width="30"
          height="30"
          class="d-inline-block"
          alt="cart"
        />
        <span class="badge badge-info align-top">{{ totalQuantity }}</span>
      </button>
    </div>
  </nav>
</header>
