<header class="sticky-top">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img
        src="/assets/images/nav/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="logo"
      />
      MyShop
    </a>
    <div class="justify-content-between">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <button type="button" class="btn">
      <img
        src="/assets/images/nav/local_grocery_store.svg"
        width="30"
        height="30"
        class="d-inline-block"
        alt="cart"
      />
      <span class="badge badge-info align-top">4</span>
    </button>
  </nav>
</header>
